<!doctype html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>

    {{>nav}}

<!-- Main Header-->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side Div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/about.png" alt="about" class="img-fluid" title="about">
                        </figure>
                    </div>
                    
                    <!-- Right side Div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app</p>
                        <h1>I Am A  <span class="text_color"> Full Stack Developer </span> And A Freelancer.</h1>
                        <a href="https://vishvpatel010.github.io/cv/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{{>footer}}
{{>footerlinks}}
  </body>
</html>