<!doctype html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body  onload="myFunction()">

    {{>nav}}

<!-- Main Header-->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter Your City name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInfo">
                    <div class="top_layer">
                        <p id="day">Day</p>
                        <p id="today_date">Date</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer">
                            <p id="temp"><span id="tempdata">0</span><sup>o</sup>C</p>
                            <p id="temp_status">
                                <img src="img/clear.png" alt="clear">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    {{>footer}}

    {{>footerlinks}}
  </body>
</html>